#botines ul {
  list-style-type: none;
  padding: 0;
}

#botines li {
  display: flex;
  align-items: center;
  position: relative; /* Necesario para que el texto "Agotado" se posicione correctamente */
  margin-bottom: 15px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

#botines img {
  margin-right: 15px;
}

.botin-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Estilo para botines que no están en stock */
.disabled {
  opacity: 0.5;
  pointer-events: none;
  background-color: #f0f0f0;
  cursor: not-allowed;
}

/* Estilo para el texto "Agotado" */
.agotado-text {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: rotate(-45deg); /* Rota el texto en 45 grados hacia la izquierda */
  transform-origin: 0 100%; /* El origen de la transformación es la esquina inferior izquierda */
  font-size: 2em; /* Tamaño del texto ajustable según el diseño */
  color: red; /* Color del texto */
  font-weight: bold;
  z-index: 1; /* Asegura que se superponga sobre otros elementos */
  pointer-events: none; /* Para evitar la interacción con este texto */
}
