<header>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col d-flex justify-content-center">
        <a class="btn btn-primary w-100" [routerLink]="['/']" [routerLinkActive]="['actived']">Home</a>
      </div>
      <div class="col d-flex justify-content-center">
        <a class="btn btn-primary w-100" [routerLink]="['/videojuegos']" [routerLinkActive]="['actived']">Ir a videojuegos</a>
      </div>
      <div class="col d-flex justify-content-center">
        <a class="btn btn-primary w-100" [routerLink]="['/cursos']" [routerLinkActive]="['actived']">Ir a cursos</a>
      </div>
      <div class="col d-flex justify-content-center">
        <a class="btn btn-primary w-100" [routerLink]="['/botines']" [routerLinkActive]="['actived']">Ir a botines</a>
      </div>
      <div class="col d-flex justify-content-center">
        <a class="btn btn-primary w-100" [routerLink]="['/external']" [routerLinkActive]="['actived']">Ir a external</a>
      </div>
      <div class="col d-flex justify-content-center">
        <a class="btn btn-primary w-100" [routerLink]="['/contacto']" [routerLinkActive]="['actived']">Ir a contacto</a>
      </div>
    </div>
  </div>
</header>
<hr>
<main>
  <router-outlet></router-outlet>
</main>

<footer class="footer">
  <p>© {{date | date:'dd/MM/yyyy'}} Mi Aplicación Angular</p>
</footer>
