<div class="home container">
  <p>Bienvenido!</p>
  <div class="row justify-content-center">
    <div class="col-12 col-md-4 mb-3 d-flex justify-content-center">
      <a class="btn btn-primary w-100" [routerLink]="['/videojuegos']">Ir a videojuegos</a>
    </div>
    <div class="col-12 col-md-4 mb-3 d-flex justify-content-center">
      <a class="btn btn-primary w-100" [routerLink]="['/cursos']">Ir a cursos</a>
    </div>
    <div class="col-12 col-md-4 mb-3 d-flex justify-content-center">
      <a class="btn btn-primary w-100" [routerLink]="['/botines']">Ir a botines</a>
    </div>
  </div>
</div>
