.home {
  text-align: center;
  padding: 2% 0;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 1rem; /* Espacio entre botones */
  margin-bottom: 2rem; /* Espacio debajo de los botones */
}



footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  background-color: #f8f9fa;
  border-top: 1px solid #e9ecef;
}
